.wrapper-projects-display {
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    overflow-y: hidden;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.inner {
    scroll-snap-align: start;
    height: 100vh;
}

.background-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 100vh;
    width: 100vw;
}

.project-1 {
    background-color: #9ABAB350;
}

.project-2 {
    background-color: #C6BEFF80;
}

.project-3 {
    background-color: #5E2D2020;
}

.content-project-display-left {
    width: 578px;
}

.project-title {
    font-size: 64px;
    color: #292929;
}

.project-description {
    color: #1a1a1a;
}

.wrapper-tech-items {
    display: flex;
    gap: 12px;
    margin: 32px 0;
}

.tech-item {
    background-color: #9ABAB3;
    padding: 6px 10px;
    border-radius: 2px;
    width: 100px;
    display: flex;
    justify-content: center;
}

.wrapper-project-buttons {
    display: flex;
    gap: 22px;
}

.btn-visit-site {
    background-color: #424242;
    color: white;
    border: #424242 solid 2px;
}

.btn-github-link {
    border: #424242 solid 2px;
    background-color: transparent;
    color: #292929;
    transition-delay: 3s;
}

.btn-visit-site, .btn-github-link {
    border-radius: 4px;
    padding: 12px 24px;
    font-size: 22px;
    cursor: pointer;
}

.gallery {
    width: 800px;
}

.gallery-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    margin: 0 auto;
    max-width: 800px;
    position: relative;
}

.gallery-item {
    position: absolute;
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.4, 0.0, 0.2, 1);
    height: 260px;
    width: 415px;
    border-radius: 12px;
    z-index: 0;
    background-size: contain;
}

.gallery-item-1 {
    left: 28%;
    opacity: .4;
    transform: translateX(-50%) scale(0.8);
}

.gallery-item-2, .gallery-item-4 {
    height: 290px;
    width: 464px;
    opacity: .6;
    transform: translateX(-50%) scale(0.9);
    z-index: 1;
}

.gallery-item-2 {
    left: 38%;
    transform: translateX(-50%) scale(0.9);
}

.gallery-item-3 {
    box-shadow: -2px 5px 33px 6px #29292940;
    height: 335px;
    width: 535px;
    opacity: 1;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%) scale(1.0);
}

.gallery-item-4 {
    left: 62%;
    transform: translateX(-50%) scale(0.9);
}

.gallery-item-5 {
    left: 72%;
    opacity: .4;
    transform: translateX(-50%) scale(0.8);
}

.gallery-pagination {
    display: flex;
    justify-content: center;
    width: 100%;
}

.pagination-arrows {
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1.5s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.tech-item-2 {
    transition-delay: 500ms;
}

.tech-item-3{
    transition-delay: 1s;
}

.tech-item-4 {
    transition-delay: 1.5s;
}