@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

.ex-light {
    font-weight: 200;
}

.light {
    font-weight: 300;
}

.regular {
    font-weight: 400;
}

.semi-bold {
    font-weight: 600;
}

.grain-container {
    width: 100%;
    height: 100%;
    background-color:#ffd699;
    background-image:
            radial-gradient(at 18% 10%, hsla(77,61%,77%,1) 0px, transparent 50%),
            radial-gradient(at 79% 55%, hsla(214,81%,68%,1) 0px, transparent 50%),
            radial-gradient(at 39% 76%, hsla(279,64%,63%,1) 0px, transparent 50%),
            radial-gradient(at 30% 70%, hsla(292,96%,70%,1) 0px, transparent 50%),
            radial-gradient(at 79% 8%, hsla(353,76%,69%,1) 0px, transparent 50%),
            radial-gradient(at 31% 5%, hsla(312,79%,62%,1) 0px, transparent 50%),
            radial-gradient(at 23% 43%, hsla(328,97%,63%,1) 0px, transparent 50%);
    z-index: -10;
}

.profile-bg {
    background-color: #DEB0B080;
   }

.profile-text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 615px;
    gap: 22px;
}
.grain {
    pointer-events: none;
}

.nav-wrapper {
    display: flex;
    gap: 50px;
    align-items: center;
}

.wrapper-logo-toggle-btn {
    position: absolute;
    top: 0;
    width: 100vw;
}

.logo-toggle-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin: 22px 42px;
}

.logo-toggle-btn, .day-night-switch {
pointer-events: auto;
}

.logo-and-location {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #292929;
}

.location {
    font-size: 15px;
    margin-left: 6px;
}

.line-divider-sm {
    height: 20px;
    width: 1px;
    background-color: #292929;
}

.day-night-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    z-index: 1000;
}

.day-night-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.fa-moon, .fa-sun {
    position: absolute;
    top: 8px;
}

.fa-sun {
    left: 10px;
}

.fa-moon {
    right: 10px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

.slider .fa-sun, .slider .fa-moon {
    position: absolute;
    transition: opacity 0.4s;
}

.slider .fa-sun {
    color: #f1c40f;
    opacity: 0;
}

.slider .fa-moon {
    color: #292929;
    opacity: 1;
}

input:checked + .slider {
    background-color: #292929;
}

input:focus + .slider {
    box-shadow: 0 0 1px #292929;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

input:checked + .slider .fa-sun {
    opacity: 1;
}

input:checked + .slider .fa-moon {
    opacity: 0;
}

.wrapper-hero {
    position: absolute;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.hero {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    align-items: center;
    color: #f5f5dc;
}

.hero-heading {
    font-size: 40px;
}

.hero-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 12px;
}

.hero-small-text {
    font-size: 24px;
}

.line-divider {
    width: 2px;
    height: 30px;
    background-color: #f5f5dc;
}

.sm-arrow-text-hero {
    position: absolute;
    bottom: 80px;
    animation: floating 4s ease-in-out infinite;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 12px); }
    to   { transform: translate(0, -0px); }
}

.profile-img {
    width: 450px;
    height: 600px;
    object-fit: cover;
    border-radius: 230px;
}

.profile-text {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.project-5 {
    display: flex;
    flex-direction: column;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: #DEB0B080;
    margin-bottom: 100px;
}

.get-in-touch {
    text-decoration: none;
    color: #1a1a1a;
}

.icon-about {
    width: 50px;
    height: auto;
}

.title-contact {
    margin-top: 100px;
}

nav {
    display: flex;
    gap: 40px;
    font-family: Poppins, sans-serif;
}

.nav-item-wrapper {
    position: relative;
    display: inline-block;
}

.nav-item {
    text-decoration: none;
    color: #1a1a1a;
    font-weight: 300;
}

.nav-item::after {
    content: '';
    position: absolute;
    height: 2px;
    left: 0;
    bottom: 0;
    width: 0;
    background: beige;
    transition: width .2s;
}

.nav-item:hover:after {
    width: 100%;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 70px;
    padding-left: 12px;
    padding-right: 12px;
}

.contact-text {
    text-decoration: none;
    color: #1a1a1a;
    font-family: Poppins, sans-serif;
}

.contact-text:hover {
    color: #F6F6F6;
}

.line-divider-contact {
    height: 1px;
    width: auto;
    background-color: #42424280;
}

.copyright {
    color: #808080;
}

@media (max-width: 600px) {
    .hero-heading {
        font-size: 30px;
    }

    .hero-small-text {
        font-size: 20px;
    }

    .line-divider {
        height: 18px;
    }
}

@media (max-width: 480px) {
    .hero-heading {
        font-size: 24px;
    }

    .hero-small-text {
        font-size: 16px;
    }

    .line-divider {
        height: 14px;
    }

    .sm-arrow-text-hero {
        font-size: 14px;
    }
}

@media (max-width: 450px) {
    .logo-toggle-btn {
        margin: 12px 18px;
    }
}

@media (max-width: 380px) {
    .logo-and-location {
        gap: 8px;
        font-size: 14px;
    }

    .location {
        font-size: 12px;
    }

    .hero-heading {
        font-size: 20px;
    }

    .hero-small-text {
        font-size: 14px;
    }

    .line-divider {
        height: 12px;
    }

    .sm-arrow-text-hero {
        font-size: 12px;
    }

}